.hoverbtn{
  transition: all 200ms ease-in;
  overflow: hidden;
}
.hoverbtn h1, .hoverbtn p{
  z-index: 2;
  position: relative;
  transition: all 200ms ease-in;
}
.hoverbtn::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translate3d(-100%, 0, 0);
  background: linear-gradient(to left, #0057FF, #357AFF);
  z-index: 1;
  transition: all 200ms ease-in;
}
.hoverbtn:hover h1, .hoverbtn:hover p {
  color: white !important;
}
.hoverbtn:hover:before {
  transform: translate3d(0, 0, 0);
}

/* key frame for arrow btn  */
#pot {
  bottom: -15px;
  position: absolute;
  animation: linear infinite;
  animation-name: run;
  animation-duration: 2s;
}
@keyframes run {
  0% {
    right: 0;
  }
  50% {
    right: 100%;
  }
  100% {
    right: 0;    
  }
}
/* key frame for arrow btn  */

/* scroll css  */
/* PersonalLoan.css */

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOutLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

.animate-start {
  animation: slideInRight 1s forwards;
}

.animate-end {
  animation: slideOutLeft 1s forwards;
}




.scaled-image {
    /* Scale down the image to 80% of its original size in normal state */
    transform: scale(0.5);
    transform-origin: right bottom;
    position: absolute;
    transition: transform 0.3s ease-in-out;
}

.servicediv:hover .scaled-image{
    /* Scale the image back to its original size on hover */
    transform: scale(1);
}
.servicediv{
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.servicediv:hover{
  transform: translateY(-30px);
}
/* scroll css  */